name: CI

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  eslint:
    name: Lint (eslint)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
      - name: Prepare Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Install dependencies
        run: yarn install
      - name: Run ESLint
        run: yarn run lint --fix
      - name: Commit changes from ESLint
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions

  prettier:
    name: Code style (prettier)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
      - name: Prepare Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Install dependencies
        run: yarn install
      - name: Run Prettier
        run: yarn run format
      - name: Commit changes from Prettier
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions

  vitest:
    name: Tests (vitest)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
      - name: Prepare Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Install dependencies
        run: yarn install
      - name: Run tests
        run: yarn run test

  build:
    name: Test package build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
      - name: Prepare Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Install dependencies
        run: yarn install
      - name: Build package
        run: yarn run build
