name: Publish package

on:
  release:
    types: [published]
    branches: [master]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Cache Yarn dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
      - name: Prepare Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Install dependencies
        run: yarn install
      - name: Build package
        run: yarn run build
      - name: Set NPM token
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - name: Publish package
        run: npm publish --access public
